<h2>Send new message:</h2>
<form method="POST" action="/new">
  <div>
    <label for="userName">Your name:</label>
    <input type="text" id="userName" name="userName" />
  </div>

  <div>
    <label for="newMessage">Your message:</label>
    <textarea name="newMessage" id="newMessage" cols="40" rows="3"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>